<div class="page-wrapper">
	<div class="container-fluid">
    	<div class="row">
       		<div class="col-md-12">
 				<div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Tickets</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Ticket Id</th>
                                                <th>Query Type</th>
                                                <th>Comment</th>
                                                <th>Status</th>
                                                <th>Open Date</th>
                                                <th>Closed Date</th>
                                                <th>Raised By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let ticket of ticketData.data">
                                                    <td>#{{ ticket.id }}</td>
                                                    <td>{{ ticket.ticketType }}</td>
                                                    <td>{{ ticket.comment }}</td>

                                                    <td>
                                                        <ng-container *ngIf="ticket.status == 1">
                                                          <span class="badge badge-pill badge-success"><b>Active</b></span>
                                                        </ng-container>
                                                        <ng-container *ngIf="ticket.status == 0">
                                                            <span class="badge badge-pill badge-danger "><b>Closed</b></span>
                                                          </ng-container>
                                                    </td>
                                                    <td>{{ ticket.created.date}}</td>
                                                    <td>
                                                        <ng-container *ngIf="ticket.status == 0">
                                                            {{ ticket.modified.date }}        
                                                          </ng-container>
                                                          <ng-container *ngIf="ticket.status == 1">
                                                              -
                                                          </ng-container>
                                              
                                                    
                                                    </td> 
                                                    <td>{{ ticket.raisedByName }}</td>
                                                    <!-- <td>{{ ticket.id|e }}</td>
                                                    <td>{{ ticket.id|e }}</td>
                                                    <td>{{ ticket.id|e }}</td>
                                                    <td>{{ ticket.id|e }}</td>
                                                    <td>{{ ticket.id|e }}</td> -->
                                                </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Ticket Id</th>
                                                <th>Query Type</th>
                                                <th>Comment</th>
                                                <th>Status</th>
                                                <th>Open Date</th>
                                                <th>Closed Date</th>
                                                <th>Raised By</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>
                        </div>
 			</div>
 		</div>
 	</div>
</div>